/*  all tag  */
* {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 0.12rem;
	font-family: "Microsoft Yahei";
}
html,
body {
	height: 100%;
	overflow: hidden;
}
p {
	font-size: 0.11rem;
}


/*  music  */
#music {
	position: fixed;
	width: 0.6rem;
	height: 0.6rem;
	top: 0.3rem;
	right: 0.3rem;
	z-index: 5;
}

/*  pagedown  */
#pagedown {
	position: fixed;
	z-index: 5;
	width: 0.8rem;
	left: 50%;
	margin-left: -0.4rem;
	bottom: 0.4rem;
	-webkit-animation: arrowing 1500ms infinite;
			animation: arrowing 1500ms infinite;
}


/*  page background  */
.page {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.page,
.page div,
.page img {
	position: absolute;
}
#loading_page {
	z-index: 6;
}
#page1 {
	z-index: 2;
}
#page2 {
	z-index: 1;
}
#page3 {
	z-index: 0;
}
#page_frame1,
#page_frame2,
#page_frame3 {
	position: relative;
	display: none;
	width: 6.4rem;
	height: 10.08rem;
	top: 50%;
	margin-top: -5.04rem;
}
/*  scroll animation  */
.page_scroll {
	-webkit-transition: all 1s;
			transition: all 1s;
}


/*  loading page  */
#loading_page {
	background: #fff;
}
#loading_page .loading {
	background: url(../img/p0_0.png) no-repeat center center;
	background-size: 100%;
	width: 50vw;
	height: 50vh;
	left: 50%;
	top: 50%;
	margin-top: -30vh;
	margin-left: -25vw;
	-webkit-animation: page_loading 1s linear infinite;
			animation: page_loading 1s linear infinite;
}


/*  page1  */
#page1 {
	background: #fada9d;
}
#page1 > #page_frame1 > .p1_chicken {
	z-index: 2;
	width: 2.9rem;
	height: 4.14rem;
	left: 1.76rem;
	top: 2.9rem;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
			animation: fadein_normal 1000ms ease 600ms both running;
}
#page1 > #page_frame1 > .p1_dot {
	z-index: 1;
	width: 4.52rem;
	height: 7.68rem;
	left: 0.82rem;
	top: 0.86rem;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
			animation: fadein_normal 1000ms ease 600ms both running;
}
#page1 > #page_frame1 > .t_hny {
	z-index: 2;
	width: 5.08rem;
	height: 1.54rem;
	left: 0.66rem;
	top: 0.96rem;
	-webkit-animation: fadein_normal 1000ms ease 1000ms both running;
			animation: fadein_normal 1000ms ease 1000ms both running;
}
#page1 > #page_frame1 > .t_top {
	z-index: 1;
	width: 2.9rem;
	height: 1.02rem;
	left: 1.8rem;
	top: 0.52rem;
	-webkit-animation: slide_up 1000ms ease 1200ms both running;
			animation: slide_up 1000ms ease 1200ms both running;
}
#page1 > #page_frame1 > .p1_card {
	z-index: 0;
	width: 5.96rem;
	height: 8.42rem;
	left: 0.22rem;
	top: 0.3rem;
	border-radius: 0.26rem;
	background: #e43a2b;
	-webkit-box-shadow: #000 0px 0px 9px;
			box-shadow: #000 0px 0px 9px;
}
#page1 .card_left {
	-webkit-transform-origin:0 100%;
			transform-origin:0 100%;
	-webkit-transform: rotate(-90deg);
			transform: rotate(-90deg);
	-webkit-animation: card_left 1000ms ease 600ms both running;
			animation: card_left 1000ms ease 600ms both running;
}
#page1 .card_right {
	-webkit-transform-origin:100% 100%;
			transform-origin:100% 100%;
	-webkit-transform: rotate(90deg);
			transform: rotate(90deg);
	-webkit-animation: card_right 1000ms ease 600ms both running;
			animation: card_right 1000ms ease 600ms both running;
}
#page1 > #page_frame1 > .p1_gxfc {
	z-index: 2;
	width: 0.72rem;
	height: 0.8rem;
	left: 5.08rem;
	top: 7.56rem;
	-webkit-animation: fadein_normal 2400ms ease 1200ms both running;
			animation: fadein_normal 2400ms ease 1200ms both running;
}
#page1 > #page_frame1 > .p1_cloud {
	z-index: 2;
}
#page1 .p1_cloud1 {
	width: 1.44rem;
	height: 0.48rem;
	left: 0.22rem;
	top: 0.78rem;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
			animation: fadein_normal 1000ms ease 600ms both running;
}
#page1 .p1_cloud2 {
	width: 1.78rem;
	height: 0.6rem;
	left: 0.26rem;
	top: 7.92rem;
	-webkit-animation: fadein_normal_opacity_half 1000ms ease 600ms both running;
			animation: fadein_normal_opacity_half 1000ms ease 600ms both running;
}
#page1 > #page_frame1 > .p1_scloud {
	z-index: 1;
}
#page1 .p1_scloud1 {
	width: 1.46rem;
	height: 0.34rem;
	left: 3.42rem;
	top: 7.76rem;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
			animation: fadein_normal 1000ms ease 600ms both running;
}
#page1 .p1_scloud2 {
	width: 0.84rem;
	height: 0.18rem;
	left: 2.26rem;
	top: 1.98rem;
	-webkit-animation: fadein_normal_opacity_half 1000ms ease 600ms both running;
			animation: fadein_normal_opacity_half 1000ms ease 600ms both running;
}
#page1 > #page_frame1 > .p1_2017 {
	z-index: 3;
	width: 0.78rem;
	height: 0.56rem;
	left: 4.2rem;
	top: 2.34rem;
	-webkit-animation: slide_up 1600ms ease 1300ms both running;
			animation: slide_up 1600ms ease 1300ms both running;
}
#page1 > #page_frame1 > .p1_note {
	z-index: 2;
	width: 1.2rem;
	height: 0.98rem;
	left: 3.98rem;
	top: 2.16rem;
	-webkit-animation: slide_up 1500ms ease 1400ms both running;
			animation: slide_up 1500ms ease 1400ms both running;
}
#page1 > #page_frame1 > .p1_jjzc {
	z-index: 2;
	width: 0.68rem;
	height: 2.52rem;
	left: 0.68rem;
	top: 4.52rem;
	-webkit-animation: flip_in_y 1000ms ease 1900ms both running;
			animation: flip_in_y 1000ms ease 1900ms both running;
}
#page1 > #page_frame1 > .p1_author {
	z-index: 2;
	width: 2.4rem;
	left: 0.5rem;
	top: 9.2rem;
	-webkit-animation: fadein_normal_author 1000ms ease 600ms both running;
			animation: fadein_normal_author 1000ms ease 600ms both running;
}
#page1 > #page_frame1 > .p1_boom {
	z-index: 1;
}
#page1 .boom1 {
	width: 1.72rem;
	height: 1.68rem;
	left: 4.48rem;
	top: 0.68rem;
	-webkit-animation: rotate_in 2400ms ease 600ms both running;
			animation: rotate_in 2400ms ease 600ms both running;
}
#page1 .boom2 {
	width: 1.18rem;
	height: 1.16rem;
	left: 4.9rem;
	top: 4.78rem;
	-webkit-animation: rotate_n_in 3100ms ease 600ms both running;
			animation: rotate_n_in 3100ms ease 600ms both running;
}
#page1 .boom3 {
	width: 1.18rem;
	height: 1.16rem;
	left: 0.42rem;
	top: 6.1rem;
	-webkit-animation: rotate_in 3100ms ease 1900ms both running;
			animation: rotate_in 3100ms ease 1900ms both running;
}
#page1 > #page_frame1 > .p1_logo {
	z-index: 2;
	width: 0.58rem;
	height: 0.58rem;
	left: 5.16rem;
	top: 9.08rem;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
			animation: fadein_normal 1000ms ease 600ms both running;
}
#page1 > #page_frame1 > .p1_logo_border {
	z-index: 2;
	width: 1.12rem;
	height: 1.04rem;
	left: 4.88rem;
	top: 8.86rem;
	-webkit-animation: flip_in_x 1000ms ease 600ms both running;
			animation: flip_in_x 1000ms ease 600ms both running;
}


/*  page2  */

#page2 {
	background: #fbdecc;
}
#page2 > #page_frame2 > .bg {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url(../img/p2_bg.png) ;
	background-size: 100%;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
			animation: fadein_normal 1000ms ease 600ms both running;
}
#page2 > #page_frame2 > .bg2 {
	z-index: 0;
	background: #fada9d;
	width: 6.4rem;
	height: 10.08rem;
	left: 0;
	top: 6.36rem;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
			animation: fadein_normal 1000ms ease 600ms both running;
}
#page2 > #page_frame2 > .p2_flower {
	z-index: 1;
	width: 2.84rem;
	height: 2.6rem;
	left: -0.84rem;
	top: -0.92rem;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
			animation: fadein_normal 1000ms ease 600ms both running;
}
#page2 > #page_frame2 > .p2_cloud {
	z-index: 1;
	width: 6.4rem;
	height: 1.44rem;
	left: 2.14rem;
	top: -0.62rem;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
			animation: fadein_normal 1000ms ease 600ms both running;
}
#page2 > #page_frame2 > .p2_mountain {
	z-index: 1;
	width: 6.4rem;
	height: 2.94rem;
	left: 0.58rem;
	top: 7.12rem;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
			animation: fadein_normal 1000ms ease 600ms both running;
}
#page2 > #page_frame2 > .p2_chicken {
	z-index: 2;
	width: 1.92rem;
	height: 1.86rem;
	left: 2.88rem;
	top: 5.28rem;
	-webkit-animation: fade_in_up 1000ms ease 600ms both running;
			animation: fade_in_up 1000ms ease 600ms both running;
}
#page2 > #page_frame2 > .p2_sun {
	z-index: 0;
	width: 4.62rem;
	height: 4.62rem;
	left: 1.46rem;
	top: 4.06rem;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
			animation: fadein_normal 1000ms ease 600ms both running;
}
#page2 > #page_frame2 > .p2_water {
	z-index: 2;
	width: 6.44rem;
	height: 2.66rem;
	left: -0.06rem;
	top: 7.42rem;
	-webkit-animation: fade_in_up 1000ms ease 600ms both running;
			animation: fade_in_up 1000ms ease 600ms both running;
}
#page2 > #page_frame2 > .p2_boom {
	z-index: 1;
	width: 2.18rem;
	height: 2.12rem;
	left: 2.66rem;
	top: 4.92rem;
	-webkit-animation: rotate_in 2400ms ease 600ms both running;
			animation: rotate_in 2400ms ease 600ms both running;
}
#page2 > #page_frame2 > .p2_2017 {
	z-index: 1;
	width: 3.9rem;
	left: 0.68rem;
	top: 2.26rem;
	-webkit-animation: fadein_normal 2200ms ease 1700ms both running;
			animation: fadein_normal 2200ms ease 1700ms both running;
}
#page2 > #page_frame2 > .p2_xnkl {
	z-index: 1;
	width: 2.64rem;
	left: 3.43rem;
	top: 3.29rem;
	-webkit-animation: fadein_normal 2800ms ease 1500ms both running;
			animation: fadein_normal 2800ms ease 1500ms both running;
}
#page2 > #page_frame2 > .p2_scloud {
	z-index: 2;
}
#page2 .scloud1 {
	width: 1.82rem;
	height: 0.4rem;
	left: 3.76rem;
	top: 4.22rem;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
			animation: fadein_normal 1000ms ease 600ms both running;
}
#page2 .scloud2 {
	width: 2.2rem;
	height: 0.5rem;
	left: -0.06rem;
	top: 6.12rem;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
			animation: fadein_normal 1000ms ease 600ms both running;
}

/*  page3  */

#page3 {
	background: #f55747;
}
#page3 > #page_frame3 > .bg {
	background: url(../img/p2_bg.png);
	background-size: 100%;
	width: 100%;
	height: 100%;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
			animation: fadein_normal 1000ms ease 600ms both running;
}
#page3 > #page_frame3 > .p3_water {
	z-index: 0;
	width: 6.9rem;
	height: 2.84rem;
	left: -0.24rem;
	top: 7.32rem;
	-webkit-animation: fade_in_up 1000ms ease 600ms both running;
			animation: fade_in_up 1000ms ease 600ms both running;
}
#page3 > #page_frame3 > .p3_box {
	z-index: 1;
	background: #fff;
	box-shadow: black 0px 0px 5px;
	-webkit-box-shadow: black 0 0 0.1rem;
	width: 4.24rem;
	height: 8.94rem;
	left: 1.16rem;
	top: 0.38rem;
	border-radius: 0.66rem;
	-webkit-animation: box_show 1800ms ease 600ms both running;
			animation: box_show 1800ms ease 600ms both running;
}
#page3 > #page_frame3 > .p3_happy {
	z-index: 2;
	width: 2.44rem;
	height: 0.24rem;
	left: 2.12rem;
	top: 0.52rem;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
			animation: fadein_normal 1000ms ease 600ms both running;
}
#page3 > #page_frame3 > .p3_chinese {
	z-index: 2;
	width: 2.48rem;
	height: 0.74rem;
	left: 2.1rem;
	top: 0.82rem;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
			animation: fadein_normal 1000ms ease 600ms both running;
}
#page3 > #page_frame3 > .p3_line {
	z-index: 2;
	width: 2.66rem;
	height: 0.14rem;
	left: 2.1rem;
	top: 1.58rem;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
			animation: fadein_normal 1000ms ease 600ms both running;
}
#page3 > #page_frame3 > .p3_ny {
	z-index: 2;
	width: 2.46rem;
	height: 0.48rem;
	left: 2.12rem;
	top: 1.7rem;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
			animation: fadein_normal 1000ms ease 600ms both running;
}
#page3 > #page_frame3 > .p3_jxry {
	z-index: 2;
	width: 2.06rem;
	height: 2.18rem;
	left: 3.12rem;
	top: 7.02rem;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
			animation: fadein_normal 1000ms ease 600ms both running;
}
#page3 > #page_frame3 > .p3_chicken {
	z-index: 2;
	width: 3.64rem;
	height: 3.1rem;
	left: -0.24rem;
	top: 6.94rem;
	overflow: hidden;
	-webkit-transform: rotate(24deg);
			transform: rotate(24deg);
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
			animation: fadein_normal 1000ms ease 600ms both running;
}
#page3 > #page_frame3 > .p3_wish_title {
	z-index: 2;
	width: 3.9rem;
	left: 50%;
	top: 2.48rem;
	margin-left: -1.85rem;
	-webkit-animation: fade_in 1000ms ease 600ms both running;
			animation: fade_in 1000ms ease 600ms both running;
}
#page3 > #page_frame3 > .p3_wish {
	z-index: 2;
	width: 1.66rem;
	left: 50%;
	top: 3.96rem;
	margin-left: -0.76rem;
	-webkit-animation: fade_in 1000ms ease 600ms both running;
			animation: fade_in 1000ms ease 600ms both running;
}


/* animation */
@-webkit-keyframes fade_in {
	0% {
		opacity: 0;
		-webkit-transform: scale(0) translateZ(0);
				transform: scale(0) translateZ(0);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(1.1) translateZ(0);
				transform: scale(1.1) translateZ(0);
	}
	80% {
		opacity: 1;
		-webkit-transform: scale(0.9) translateZ(0);
				transform: scale(0.9) translateZ(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1) translateZ(0);
				transform: scale(1) translateZ(0);
	}
}
@keyframes fade_in {
	0% {
		opacity: 0;
		-webkit-transform: scale(0) translateZ(0);
				transform: scale(0) translateZ(0);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(1.1) translateZ(0);
				transform: scale(1.1) translateZ(0);
	}
	80% {
		opacity: 1;
		-webkit-transform: scale(0.9) translateZ(0);
				transform: scale(0.9) translateZ(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1) translateZ(0);
				transform: scale(1) translateZ(0);
	}
}
@-webkit-keyframes fadein_normal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadein_normal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes fadein_normal_opacity_half {
	0% {
		opacity: 0;
	}
	100% {
		opacity: .5;
	}
}
@keyframes fadein_normal_opacity_half {
	0% {
		opacity: 0;
	}
	100% {
		opacity: .5;
	}
}
@-webkit-keyframes rotate_in {
	0% {
		opacity: 0;
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	100% {
		opacity: 1;
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}
@keyframes rotate_in {
	0% {
		opacity: 0;
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	100% {
		opacity: 1;
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}
@-webkit-keyframes rotate_n_in {
	0% {
		opacity: 0;
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	100% {
		opacity: 1;
		-webkit-transform: rotate(-360deg);
				transform: rotate(-360deg);
	}
}
@keyframes rotate_n_in {
	0% {
		opacity: 0;
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	100% {
		opacity: 1;
		-webkit-transform: rotate(-360deg);
				transform: rotate(-360deg);
	}
}
@-webkit-keyframes arrowing {
	0% {
		opacity: .8;
		-webkit-transform: translateY(-10px);
				transform: translateY(-10px);
	}
	50% {
		opacity: 1;
		-webkit-transform: translateY(5px);
				transform: translateY(5px);
	}
	100% {
		-webkit-transform: translateY(-10px);
				transform: translateY(-10px);
	}
}
@keyframes arrowing {
	0% {
		opacity: .8;
		-webkit-transform: translateY(-10px);
				transform: translateY(-10px);
	}
	50% {
		opacity: 1;
		-webkit-transform: translateY(5px);
				transform: translateY(5px);
	}
	100% {
		-webkit-transform: translateY(-10px);
				transform: translateY(-10px);
	}
}
@-webkit-keyframes page_loading {
	0% {
		background: url(../img/p0_0.png) no-repeat center center;
		background-size: 100%;
	}
	25% {
		background: url(../img/p0_1.png) no-repeat center center;
		background-size: 100%;
	}
	75% {
		background: url(../img/p0_2.png) no-repeat center center;
		background-size: 100%;
	}
	100% {
		background: url(../img/p0_3.png) no-repeat center center;
		background-size: 100%;
	}
}
@keyframes page_loading {
	0% {
		background: url(../img/p0_0.png) no-repeat center center;
		background-size: 100%;
	}
	25% {
		background: url(../img/p0_1.png) no-repeat center center;
		background-size: 100%;
	}
	75% {
		background: url(../img/p0_2.png) no-repeat center center;
		background-size: 100%;
	}
	100% {
		background: url(../img/p0_3.png) no-repeat center center;
		background-size: 100%;
	}
}
@-webkit-keyframes card_left {
	0% {
		-webkit-transform: rotate(-90deg);
				transform: rotate(-90deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
		opacity: 1;
	}
}
@keyframes card_left {
	0% {
		-webkit-transform: rotate(-90deg);
				transform: rotate(-90deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
		opacity: 1;
	}
}
@-webkit-keyframes card_right {
	0% {
		-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
		opacity: 1;
	}
}
@keyframes card_right {
	0% {
		-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
		opacity: 0;
	}
	100% {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
		opacity: 1;
	}
}
@-webkit-keyframes slide_up {
	0% {
		opacity: 0;
		-webkit-transform: translateY(100%);
				transform: translateY(100%);
	}
	50% {
		opacity: 1;
		-webkit-transform: translateY(-8%);
				transform: translateY(-8%);
	}
	65% {
		-webkit-transform: translateY(4%);
				transform: translateY(4%);
	}
	80% {
		-webkit-transform: translateY(-4%);
				transform: translateY(-4%);
	}
	95% {
		-webkit-transform: translateY(2%);
				transform: translateY(2%);
	}
	100% {
		-webkit-transform: translateY(0%);
				transform: translateY(0%);
	}
}
@keyframes slide_up {
	0% {
		opacity: 0;
		-webkit-transform: translateY(100%);
				transform: translateY(100%);
	}
	50% {
		opacity: 1;
		-webkit-transform: translateY(-8%);
				transform: translateY(-8%);
	}
	65% {
		-webkit-transform: translateY(4%);
				transform: translateY(4%);
	}
	80% {
		-webkit-transform: translateY(-4%);
				transform: translateY(-4%);
	}
	95% {
		-webkit-transform: translateY(2%);
				transform: translateY(2%);
	}
	100% {
		-webkit-transform: translateY(0%);
				transform: translateY(0%);
	}
}
@-webkit-keyframes flip_in_y {
	0% {
		opacity: 0;
		-webkit-transform: perspective(400px) rotateY(90deg) translateZ(0);
				transform: perspective(400px) rotateY(90deg) translateZ(0);
	}
	40% {
		-webkit-transform: perspective(400px) rotateY(-10deg) translateZ(0);
				transform: perspective(400px) rotateY(-10deg) translateZ(0);
	}
	70% {
		-webkit-transform: perspective(400px) rotateY(10deg) translateZ(0);
				transform: perspective(400px) rotateY(10deg) translateZ(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: perspective(400px) rotateY(0deg) translateZ(0);
				transform: perspective(400px) rotateY(0deg) translateZ(0);
	}
}
@keyframes flip_in_y {
	0% {
		opacity: 0;
		-webkit-transform: perspective(400px) rotateY(90deg) translateZ(0);
				transform: perspective(400px) rotateY(90deg) translateZ(0);
	}
	40% {
		-webkit-transform: perspective(400px) rotateY(-10deg) translateZ(0);
				transform: perspective(400px) rotateY(-10deg) translateZ(0);
	}
	70% {
		-webkit-transform: perspective(400px) rotateY(10deg) translateZ(0);
				transform: perspective(400px) rotateY(10deg) translateZ(0);
	}
	100% {
		opacity: 1;
		-webkit-transform: perspective(400px) rotateY(0deg) translateZ(0);
				transform: perspective(400px) rotateY(0deg) translateZ(0);
	}
}
@-webkit-keyframes fadein_normal_author {
	0% {
		opacity: 0;
		bottom: -5vh;
	}
	100% {
		opacity: 1;
		bottom: 1.5vh;
	}
}
@keyframes fadein_normal_author {
	0% {
		opacity: 0;
		bottom: -5vh;
	}
	100% {
		opacity: 1;
		bottom: 1.5vh;
	}
}
@-webkit-keyframes flip_in_x {
	0% {
		opacity: 0;
		-webkit-transform: perspective(400px) rotateX(90deg);
				transform: perspective(400px) rotateX(90deg);
	}
	40% {
		-webkit-transform: perspective(400px) rotateX(-10deg);
				transform: perspective(400px) rotateX(-10deg);
	}
	70% {
		-webkit-transform: perspective(400px) rotateX(10deg);
				transform: perspective(400px) rotateX(10deg);
	}
	100% {
		opacity: 1;
		-webkit-transform: perspective(400px) rotateX(0deg);
				transform: perspective(400px) rotateX(0deg);
	}
}
@keyframes flip_in_x {
	0% {
		opacity: 0;
		-webkit-transform: perspective(400px) rotateX(90deg);
				transform: perspective(400px) rotateX(90deg);
	}
	40% {
		-webkit-transform: perspective(400px) rotateX(-10deg);
				transform: perspective(400px) rotateX(-10deg);
	}
	70% {
		-webkit-transform: perspective(400px) rotateX(10deg);
				transform: perspective(400px) rotateX(10deg);
	}
	100% {
		opacity: 1;
		-webkit-transform: perspective(400px) rotateX(0deg);
				transform: perspective(400px) rotateX(0deg);
	}
}
@-webkit-keyframes fade_in_up {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
				transform: translate3d(0, 100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
}
@keyframes fade_in_up {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
				transform: translate3d(0, 100%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}
}
@-webkit-keyframes box_show {
	0% {
		opacity: 0;
		-webkit-transform: scale(1.8) translateZ(0);
				transform: scale(1.8) translateZ(0);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(0.95) translateZ(0);
				transform: scale(0.95) translateZ(0);
	}
	80% {
		-webkit-transform: scale(1.05) translateZ(0);
				transform: scale(1.05) translateZ(0);
	}
	90% {
		-webkit-transform: scale(0.98) translateZ(0);
				transform: scale(0.98) translateZ(0);
	}
	100% {
		-webkit-transform: scale(1) translateZ(0);
				transform: scale(1) translateZ(0);
	}
}
@keyframes box_show {
	0% {
		opacity: 0;
		-webkit-transform: scale(1.8) translateZ(0);
				transform: scale(1.8) translateZ(0);
	}
	50% {
		opacity: 1;
		-webkit-transform: scale(0.95) translateZ(0);
				transform: scale(0.95) translateZ(0);
	}
	80% {
		-webkit-transform: scale(1.05) translateZ(0);
				transform: scale(1.05) translateZ(0);
	}
	90% {
		-webkit-transform: scale(0.98) translateZ(0);
				transform: scale(0.98) translateZ(0);
	}
	100% {
		-webkit-transform: scale(1) translateZ(0);
				transform: scale(1) translateZ(0);
	}
}