/*  all tag  */
* {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 1.5625rem;
	font-family: "Microsoft Yahei";
}
html,
body {
	height: 100%;
	overflow: hidden;
}
p {
	font-size: 11px;
}


/*  music  */
#music {
	position: fixed;
	top: 2.64vh;
	right: 4.68vw;
	z-index: 5;
	width: 8vw;
	height: 8vw;
}

/*  pagedown  */
#pagedown {
	position: fixed;
	z-index: 5;
	width: 10.66vw;
	left: 50%;
	margin-left: -5.33vw;
	bottom: 1vh;
	animation: arrowing 1500ms infinite;
	-webkit-animation: arrowing 1500ms infinite;
}


/* page drop down or up */
.page_drop_down_this {
	animation: page_drop_down_this .5s ease-in forwards;
	-webkit-animation: page_drop_down_this .5s ease-in forwards;
}
.page_drop_down {
	animation: page_drop_down .5s ease-in forwards;
	-webkit-animation: page_drop_down .5s ease-in forwards;
}
.page_drop_up_this {
	animation: page_drop_up_this .5s ease-in forwards;
	-webkit-animation: page_drop_up_this .5s ease-in forwards;
}
.page_drop_up {
	animation: page_drop_up .5s ease-in forwards;
	-webkit-animation: page_drop_up .5s ease-in forwards;
}


/*  page background  */
.page {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.page,
.page div,
.page img {
	position: absolute;
}
.show {
	display: block;
}
.hide {
	display: none;
}

/*  loading page  */
#loading_page {
	background: #fff;
	z-index: 6;
	transition: all 1s linear;
	-webkit-transition: all 1s linear;
	opacity: 1;
}
.loading_done {
	opacity: 0;
}
#loading_page .loading {
	background: url(../img/p0_0.png) no-repeat center center;
	background-size: 100%;
	width: 50vw;
	height: 50vh;
	left: 50%;
	top: 50%;
	margin-top: -30vh;
	margin-left: -25vw;
	animation: page_loading 1s linear infinite;
	-webkit-animation: page_loading 1s linear infinite;
}


/*  page1  */
#page1 {
	background: #fada9d;
}
#page1 > .p1_chicken {
	z-index: 2;
	width: 45.06vw;
	left: 26.4666vw;
	top: 30.4872vh;
	animation: fadein_normal 1000ms ease 600ms both running;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
}
#page1 > .p1_dot {
	z-index: 1;
	left: 13.8vw;
	top: 11.4962vh;
	width: 70.67vw;
	animation: fadein_normal 1000ms ease 600ms both running;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
}
#page1 > .p1_title {
	z-index: 2;
	left: 10.4vw;
	top: 14.3958vh;
}
#page1 > .p1_title > .t_hny {
	z-index: 1;
	width: 79.2vw;
	opacity: 0;
	animation: fadein_normal 1000ms ease 1000ms both running;
	-webkit-animation: fadein_normal 1000ms ease 1000ms both running;
}
#page1 > .p1_title > .t_top {
	z-index: 0;
	left: 17.6vw;
	top: -3.8980vh;
	width: 45.33vw;
	animation: slide_up 1000ms ease 1200ms both running;
	-webkit-animation: slide_up 1000ms ease 1200ms both running;
}
#page1 > .p1_card {
	z-index: 0;
	width: 93.07vw;
	height: 89.2vh;
	background: #e43a2b;
	box-shadow: #000 0px 0px 9px;
	-webkit-box-shadow: #000 0px 0px 9px;
	border-radius: 4vw;
	left: 3.47vw;
	top: 2.6986vh;
}
#page1 .card_left {
	transform-origin:0 100%;
	transform: rotate(-90deg);
	-webkit-transform-origin:0 100%;
	-webkit-transform: rotate(-90deg);
	animation: card_left 1000ms ease 600ms both running;
	-webkit-animation: card_left 1000ms ease 600ms both running;
}
#page1 .card_right {
	transform-origin:100% 100%;
	transform: rotate(90deg);
	-webkit-transform-origin:100% 100%;
	-webkit-transform: rotate(90deg);
	animation: card_right 1000ms ease 600ms both running;
	-webkit-animation: card_right 1000ms ease 600ms both running;
}
#page1 > .p1_gxfc {
	z-index: 2;
	width: 10.14vw;
	top: 83.26vh;
	right: 7vw;
	animation: fadein_normal 2400ms ease 1200ms both running;
	-webkit-animation: fadein_normal 2400ms ease 1200ms both running;
}
#page1 > .p1_cloud {
	z-index: 2;
	width: 22.4vw;
	top: 10vh;
	left: 5vw;
}
#page1 .p1_cloud1 {
	animation: fadein_normal 1000ms ease 600ms both running;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
}
#page1 .p1_cloud2 {
	width: 30vw;
	top: 83vh;
	animation: fadein_normal_opacity_half 1000ms ease 600ms both running;
	-webkit-animation: fadein_normal_opacity_half 1000ms ease 600ms both running;
}
#page1 > .p1_scloud {
	z-index: 1;
}
#page1 .p1_scloud1 {
	width: 22.81vw;
	top: 80vh;
	left: 55vw;
	animation: fadein_normal 1000ms ease 600ms both running;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
}
#page1 .p1_scloud2 {
	width: 13.15vw;
	top: 25vh;
	left: 25vw;
	animation: fadein_normal_opacity_half 1000ms ease 600ms both running;
	-webkit-animation: fadein_normal_opacity_half 1000ms ease 600ms both running;
}
#page1 > .p1_2017 {
	z-index: 2;
	width: 12vw;
	top: 28.5vh;
	left: 67vw;
	animation: slide_up 1600ms ease 1300ms both running;
	-webkit-animation: slide_up 1600ms ease 1300ms both running;
}
#page1 > .p1_note {
	z-index: 1;
	width: 18.67vw;
	top: 27vh;
	left: 64vw;
	animation: slide_up 1500ms ease 1400ms both running;
	-webkit-animation: slide_up 1500ms ease 1400ms both running;
}
#page1 > .p1_jjzc {
	z-index: 2;
	width: 10.67vw;
	height: 22.18vh;
	top: 42vh;
	left: 12vw;
	animation: flip_in_y 1000ms ease 1900ms both running;
	-webkit-animation: flip_in_y 1000ms ease 1900ms both running;
}
#page1 > .p1_author {
	z-index: 2;
	bottom: 1.5vh;
	left: 5vw;
	height: 5vh;
	animation: fadein_normal_author 1000ms ease 600ms both running;
	-webkit-animation: fadein_normal_author 1000ms ease 600ms both running;
}
#page1 > .p1_boom {
	z-index: 1;
}
#page1 .boom1 {
	width: 26.66vw;
	top: 10vh;
	left: 68vw;
	animation: rotate_in 2400ms ease 600ms both running;
	-webkit-animation: rotate_in 2400ms ease 600ms both running;
}
#page1 .boom2 {
	width: 18.4vw;
	top: 47vh;
	left: 75vw;
	animation: rotate_n_in 3100ms ease 600ms both running;
	-webkit-animation: rotate_n_in 3100ms ease 600ms both running;
}
#page1 .boom3 {
	width: 18.4vw;
	top: 56.5vh;
	left: 8vw;
	animation: rotate_in 3100ms ease 1900ms both running;
	-webkit-animation: rotate_in 3100ms ease 1900ms both running;
}
#page1 > .p1_logo {
	z-index: 2;
	width: 6.06vw;
	bottom: 2.5vh;
	right: 8vw;
	animation: fadein_normal 1000ms ease 600ms both running;
	-webkit-animation: fadein_normal 1000ms ease 600ms both running;
}
#page1 > .p1_logo_border {
	z-index: 2;
	width: 12.33vw;
	bottom: 1vh;
	right: 5vw;
	animation: flip_in_x 1000ms ease 600ms both running;
	-webkit-animation: flip_in_x 1000ms ease 600ms both running;
}


/*  page2  */

#page2 {
	background: #fbdecc;
}
#page2 > .bg {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url(../img/p2_bg.png) ;
	background-size: 100%;
}
#page2 > .bg2 {
	width: 100%;
	z-index: 0;
	background: #fada9d;
	height: 35vh;
	bottom: 0;
}
#page2 > .p2_flower {
	z-index: 1;
	top: -8.09vh;
	left: -13.33vw;
	width: 44.26vw;
}
#page2 > .p2_cloud {
	z-index: 1;
	top: 0;
	left: 33.33vw;
	width: 100vw;
}
#page2 > .p2_mountain {
	z-index: 1;
	bottom: 0;
	margin-left: 10vw;
	width: 100%;
}
#page2 > .p2_chicken {
	z-index: 2;
	width: 30.13vw;
	bottom: 25.7376vh;
	left: 50%;
	margin-left: -3.07vw;
}
#page2 > .p2_sun {
	z-index: 0;
	bottom: 14.7376vh;
	width: 72.26vw;
	left: 50%;
	margin-left: -26vw;
}
#page2 > .p2_water {
	z-index: 2;
	width: 100%;
	bottom: 0;
}
#page2 > .p2_boom {
	z-index: 1;
	bottom: 26.7376vh;
	left: 50%;
	margin-left: -7.07vw;
	width: 33.86vw;
}
#page2 > .p2_2017 {
	z-index: 1;
	width: 32.2vw;
	right: 8vw;
	top: 15vh;
}
#page2 > .p2_xnkl {
	z-index: 1;
	right: 5vw;
	width: 40.26vw;
	top: 36vh;
}
#page2 > .p2_scloud {
	z-index: 2;
}
#page2 .scloud1 {
	width: 34.13vw;
	left: 5vw;
	top: 62vh;
}
#page2 .scloud2 {
	width: 28.26vw;
	right: 11vw;
	top: 47vh;
}

/*  page3  */

#page3 {
	background: #f55747;
}
#page3 > .bg {
	background: url(../img/p2_bg.png);
	background-size: 100%;
	width: 100%;
	height: 100%;
}
#page3 > .p3_water {
	z-index: 0;
	width: 100%;
	bottom: 0;
}
#page3 > .p3_box {
	z-index: 1;
	width: 66.13vw;
	height: 78.41vh;
	background: #fff;
	box-shadow: black 0px 0px 5px;
	-webkit-box-shadow: black 0px 0px 5px;
	top: 50%;
	left: 50%;
	border-radius: 10.4vw;
	margin-left: -33.06vw;
	margin-top: -38.20vh;
}
#page3 > .p3_happy {
	z-index: 2;
	width: 37.86vw;
	top: 13vh;
	left: 50%;
	margin-left: -18.93vw;
}
#page3 > .p3_chinese {
	z-index: 2;
	width: 38.66vw;
	top: 17vh;
	left: 50%;
	margin-left: -19.33vw;
}
#page3 > .p3_line {
	z-index: 2;
	width: 41.6vw;
	top: 24vh;
	left: 50%;
	margin-left: -20.8vw;
}
#page3 > .p3_ny {
	z-index: 2;
	width: 38.4vw;
	left: 50%;
	margin-left: -19.2vw;
	top: 26vh;
}
#page3 > .p3_jxry {
	z-index: 2;
	width: 32.26vw;
	right: 20vw;
	top: 67vh;
}
#page3 > .p3_chicken {
	z-index: 2;
	width: 53.8vw;
	transform: rotate(24deg);
	-webkit-transform: rotate(24deg);
	top: 65vh;
	left: -7vw;
	overflow: hidden;
}
#page3 > .p3_wish_title {
	z-index: 2;
	width: 60vw;
	left: 50%;
	margin-left: -30vw;
	top: 32vh;
}
#page3 > .p3_wish {
	z-index: 2;
	width: 20vw;
	left: 50%;
	margin-left: -12vw;
	top: 45vh;
}


/* animation */
@keyframes fadein_normal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes fadein_normal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadein_normal_opacity_half {
	0% {
		opacity: 0;
	}
	100% {
		opacity: .5;
	}
}
@-webkit-keyframes fadein_normal_opacity_half {
	0% {
		opacity: 0;
	}
	100% {
		opacity: .5;
	}
}
@keyframes rotate_in {
	0% {
		opacity: 0;
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	100% {
		opacity: 1;
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes rotate_in {
	0% {
		opacity: 0;
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	100% {
		opacity: 1;
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}
@keyframes rotate_n_in {
	0% {
		opacity: 0;
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	100% {
		opacity: 1;
		transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
	}
}
@-webkit-keyframes rotate_n_in {
	0% {
		opacity: 0;
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	100% {
		opacity: 1;
		transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
	}
}
@keyframes arrowing {
	0% {
		opacity: .8;
		transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
	}
	50% {
		opacity: 1;
		transform: translateY(5px);
		-webkit-transform: translateY(5px);
	}
	100% {
		transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
	}
}
@-webkit-keyframes arrowing {
	0% {
		opacity: .8;
		transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
	}
	50% {
		opacity: 1;
		transform: translateY(5px);
		-webkit-transform: translateY(5px);
	}
	100% {
		transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
	}
}
@keyframes page_drop_down_this {
	0% {
		opacity: 1;
		margin-top: 0;
	}
	100% {
		opacity: 0;
		margin-top: -100vh;
	}
}
@-webkit-keyframes page_drop_down_this {
	0% {
		opacity: 1;
		margin-top: 0;
	}
	100% {
		opacity: 0;
		margin-top: -100vh;
	}
}
@keyframes page_drop_down {
	0% {
		opacity: 0;
		margin-top: 100vh;
	}
	100% {
		opacity: 1;
		margin-top: 0;
	}
}
@-webkit-keyframes page_drop_down {
	0% {
		opacity: 0;
		margin-top: 100vh;
	}
	100% {
		opacity: 1;
		margin-top: 0;
	}
}
@keyframes page_drop_up_this {
	0% {
		opacity: 1;
		margin-top: 0;
	}
	100% {
		opacity: 0;
		margin-top: 100vh;
	}
}
@-webkit-keyframes page_drop_up_this {
	0% {
		opacity: 1;
		margin-top: 0;
	}
	100% {
		opacity: 0;
		margin-top: 100vh;
	}
}
@keyframes page_drop_up {
	0% {
		opacity: 0;
		margin-top: -100vh;
	}
	100% {
		opacity: 1;
		margin-top: 0;
	}
}
@-webkit-keyframes page_drop_up {
	0% {
		opacity: 0;
		margin-top: -100vh;
	}
	100% {
		opacity: 1;
		margin-top: 0;
	}
}
@keyframes page_loading {
	0% {
		background: url(../img/p0_0.png) no-repeat center center;
		background-size: 100%;
	}
	25% {
		background: url(../img/p0_1.png) no-repeat center center;
		background-size: 100%;
	}
	75% {
		background: url(../img/p0_2.png) no-repeat center center;
		background-size: 100%;
	}
	100% {
		background: url(../img/p0_3.png) no-repeat center center;
		background-size: 100%;
	}
}
@-webkit-keyframes page_loading {
	0% {
		background: url(../img/p0_0.png) no-repeat center center;
		background-size: 100%;
	}
	25% {
		background: url(../img/p0_1.png) no-repeat center center;
		background-size: 100%;
	}
	75% {
		background: url(../img/p0_2.png) no-repeat center center;
		background-size: 100%;
	}
	100% {
		background: url(../img/p0_3.png) no-repeat center center;
		background-size: 100%;
	}
}
@keyframes card_left {
	0% {
		transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
		opacity: 0;
	}
	100% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		opacity: 1;
	}
}

@keyframes card_right {
	0% {
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		opacity: 0;
	}
	100% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		opacity: 1;
	}
}
@-webkit-keyframes card_right {
	0% {
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		opacity: 0;
	}
	100% {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		opacity: 1;
	}
}
@keyframes slide_up {
	0% {
		opacity: 0;
		transform: translateY(100%);
		-webkit-transform: translateY(100%);
	}
	50% {
		opacity: 1;
		transform: translateY(-8%);
		-webkit-transform: translateY(-8%);
	}
	65% {
		transform: translateY(4%);
		-webkit-transform: translateY(4%);
	}
	80% {
		transform: translateY(-4%);
		-webkit-transform: translateY(-4%);
	}
	95% {
		transform: translateY(2%);
		-webkit-transform: translateY(2%);
	}
	100% {
		transform: translateY(0%);
		-webkit-transform: translateY(0%);
	}
}
@-webkit-keyframes slide_up {
	0% {
		opacity: 0;
		transform: translateY(100%);
		-webkit-transform: translateY(100%);
	}
	50% {
		opacity: 1;
		transform: translateY(-8%);
		-webkit-transform: translateY(-8%);
	}
	65% {
		transform: translateY(4%);
		-webkit-transform: translateY(4%);
	}
	80% {
		transform: translateY(-4%);
		-webkit-transform: translateY(-4%);
	}
	95% {
		transform: translateY(2%);
		-webkit-transform: translateY(2%);
	}
	100% {
		transform: translateY(0%);
		-webkit-transform: translateY(0%);
	}
}
@keyframes flip_in_y {
	0% {
		opacity: 0;
		transform: perspective(400px) rotateY(90deg) translateZ(0);
		-webkit-transform: perspective(400px) rotateY(90deg) translateZ(0);
	}
	40% {
		transform: perspective(400px) rotateY(-10deg) translateZ(0);
		-webkit-transform: perspective(400px) rotateY(-10deg) translateZ(0);
	}
	70% {
		transform: perspective(400px) rotateY(10deg) translateZ(0);
		-webkit-transform: perspective(400px) rotateY(10deg) translateZ(0);
	}
	100% {
		opacity: 1;
		transform: perspective(400px) rotateY(0deg) translateZ(0);
		-webkit-transform: perspective(400px) rotateY(0deg) translateZ(0);
	}
}
@-webkit-keyframes flip_in_y {
	0% {
		opacity: 0;
		transform: perspective(400px) rotateY(90deg) translateZ(0);
		-webkit-transform: perspective(400px) rotateY(90deg) translateZ(0);
	}
	40% {
		transform: perspective(400px) rotateY(-10deg) translateZ(0);
		-webkit-transform: perspective(400px) rotateY(-10deg) translateZ(0);
	}
	70% {
		transform: perspective(400px) rotateY(10deg) translateZ(0);
		-webkit-transform: perspective(400px) rotateY(10deg) translateZ(0);
	}
	100% {
		opacity: 1;
		transform: perspective(400px) rotateY(0deg) translateZ(0);
		-webkit-transform: perspective(400px) rotateY(0deg) translateZ(0);
	}
}
@keyframes fadein_normal_author {
	0% {
		opacity: 0;
		bottom: -5vh;
	}
	100% {
		opacity: 1;
		bottom: 1.5vh;
	}
}
@-webkit-keyframes fadein_normal_author {
	0% {
		opacity: 0;
		bottom: -5vh;
	}
	100% {
		opacity: 1;
		bottom: 1.5vh;
	}
}
@keyframes flip_in_x {
	0% {
		opacity: 0;
		transform: perspective(400px) rotateX(90deg);
		-webkit-transform: perspective(400px) rotateX(90deg);
	}
	40% {
		transform: perspective(400px) rotateX(-10deg);
		-webkit-transform: perspective(400px) rotateX(-10deg);
	}
	70% {
		transform: perspective(400px) rotateX(10deg);
		-webkit-transform: perspective(400px) rotateX(10deg);
	}
	100% {
		opacity: 1;
		transform: perspective(400px) rotateX(0deg);
		-webkit-transform: perspective(400px) rotateX(0deg);
	}
}
@-webkit-keyframes flip_in_x {
	0% {
		opacity: 0;
		transform: perspective(400px) rotateX(90deg);
		-webkit-transform: perspective(400px) rotateX(90deg);
	}
	40% {
		transform: perspective(400px) rotateX(-10deg);
		-webkit-transform: perspective(400px) rotateX(-10deg);
	}
	70% {
		transform: perspective(400px) rotateX(10deg);
		-webkit-transform: perspective(400px) rotateX(10deg);
	}
	100% {
		opacity: 1;
		transform: perspective(400px) rotateX(0deg);
		-webkit-transform: perspective(400px) rotateX(0deg);
	}
}